.hero
  %h1 Welcome to the home page for the MCC Paramedic Program!
  %p You will find reference material for class, and forums to participate with classmates and alumni.
  %p News and Class Announcements can also be found on the site.
