.col-xs-12.col-md-3
  .row
    .col-xs-6.col-md-6.text-right {{value}} =
    .col-xs-6.col-md-6.text-left
      %input(type="tel" ng-model="answer" style="margin-top: -3px; margin-left: -25px; width: 60px;" ng-class="{'btn-success': correct}")mg/mL
