.col-md-3
  .row
    .col-md-6.text-right {{value}} =
    .col-md-6.text-left
      %input(type="text" ng-model="answer" style="margin-top: -3px; margin-left: -25px; width: 50px;" ng-class="{'btn-success': correct}")mg/mL
